<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta http-equiv="Cache-Control" content="private"/>
        {% block meta %}
        {% endblock %}

        <title>{% block title  %}upnable{% endblock %}</title>

	    {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
	    {% endblock %}
	    {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/main.js') }}"></script>
		{% endblock %}
    </head>

    <body>
        {% block header %}
	        {% include 'AppBundle:Application:header.html.twig' %}
	        {% include 'AppBundle:Application:flash.html.twig' %}
	    {% endblock %}
        
        {% block content %}
        {% endblock %}

        {% block footer %}
    	    {% include 'AppBundle:Application:footer.html.twig' %}
    	{% endblock %}
    </body>
</html>
