{% extends "AppBundle::base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row login-form">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-header">
                <div class="col-md-offset-4">
                    <img src="..." />
                    jesusMan
                </div>
            </div>
            <form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" method="POST">
                {{ form_errors(form)}}

                <div class="form-group">
                    {{ form_widget(form.email, {'attr' : {'class' : "col-sm-12 form-control", 'placeholder' : 'Email'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.username, {'attr' : {'class' : "col-sm-12 form-control", 'placeholder' : 'Username'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.plainPassword.first, {'attr' : {'class' : "col-sm-12 form-control", 'placeholder' : 'Password'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.plainPassword.second, {'attr' : {'class' : "col-sm-12 form-control", 'placeholder' : 'Repeat password'}}) }}
                </div>
                {{ form_errors(form.plainPassword.first)}}

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-submit">
                            Submit
                        </button>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
