{% if close is not defined %}
    {% set close = false %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <script type="text/javascript">
        $.notify({
            icon: "{{asset('bundles/app/img/warning.png')}}",
            message: "{{ flashMessage|raw }}"
        },{
            placement:{
                from: "top",
                align: "center"
            },
            offset: 110,
            mouse_over: "pause",
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            type: 'warning',
            delay: 3000,
            icon_type: "image"
        });
    </script>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('danger') %}
    <script type="text/javascript">
        $.notify({
            icon: "{{asset('bundles/app/img/danger.png')}}",
            message: "{{ flashMessage|raw }}"
        },{
            placement:{
                from: "top",
                align: "center"
            },
            offset: 110,
            mouse_over: "pause",
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            type: 'danger',
            delay: 3000,
            icon_type: "image"
        });
    </script>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <script type="text/javascript">
        $.notify({
            icon: "{{asset('bundles/app/img/danger.png')}}",
            message: "{{ flashMessage|raw }}"
        },{
            placement:{
                from: "top",
                align: "center"
            },
            offset: 110,
            mouse_over: "pause",
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            type: 'info',
            delay: 3000,
            icon_type: "image"
        });
    </script>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <script type="text/javascript">
        $.notify({
            icon: "{{asset('bundles/app/img/check.png')}}",
            message: "{{ flashMessage|raw }}"
        },{
            placement:{
                from: "top",
                align: "center"
            },
            offset: 110,
            mouse_over: "pause",
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            type: 'success',
            delay: 3000,
            icon_type: "image"
        });
    </script>
{% endfor %}
