<div class="footer-wrapper col-lg-12 col-md-12 col-sm-12">
	<div class="container">
		<div class="col-lg-9 col-md-9 col-sm-12">
			<div class="site-links footer-division col-lg-4 col-md-4 col-sm-4">
				<p>footer</p>
			</div>
		</div>
	</div>
</div>
