{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-logo col-md-8 col-lg-6">
				<h1 class="logo">
					<a href="#">
						<img src="{{ asset('bundles/app/img/se-logo-color.png') }}">
					</a>
				</h1>
			</div>
			<div class="mobile-navbar-menu-wrapper list-space-mobile-header">
				<i class="fa fa-bars"></i>
			</div>
			<div class="navbar-menu mobile-navbar-menu mobile-navbar-menu-list-space">
				<div class="mobile-close-btn">
					<i class="fa fa-times"></i>
				</div>
				<ul>
				</ul>
			</div>
			<div class="navbar-menu-wrapper col-md-6 navbar-menu-wrapper-space">
				<ul class="navbar-menu">
				</ul>
			</div>
			<div class="pull-right">
				<a href="{{ path('fos_user_security_logout') }}">Logout</a>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
        		<img alt="Brand" src="...">
      		</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="{{ path('fos_user_registration_register') }}">Sign Up<span class="sr-only">(current)</span></a></li>
				<li><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
			</ul>
		</div>
	</div>
</div>
{% endif %}
