{% extends "AppBundle::base.html.twig" %}

{% block content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <div class="row login-form">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-header">
                <div class="col-md-offset-4">
                    <img src="..." />
                    jesusMan
                </div>
            </div>
            <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Remember me</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <input type="submit" id="_submit" name="_submit" value="Sign In" class="btn btn-primary btn-lg btn-block login-submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
