body {
    padding-top: 70px;
}

.form-horizontal .control-label {
    text-align: left;
}

.login-submit {
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 #C2C2C2;
}

.form-header {
    background-color: #DCD7D7;
    padding-bottom: 20px;
    margin-bottom: 14px;
}
